section.grid
  .container
    .grid-layout
      each val in [1, 2, 3, 4, 5, 6, 7]
        .grid-item= val
    .my-name
      span Yubakyun
    button.button-rounded icon
    .bag-icon
      svg(width="20", height="22", viewBox="0 0 20 22", fill="none", xmlns="http://www.w3.org/2000/svg")
        path(d="M2.53715 9.47134C2.80212 7.48412 4.49726 6 6.50207 6H13.4979C15.5027 6 17.1979 7.48412 17.4628 9.47135L18.3962 16.4713C18.7159 18.8693 16.8504 21 14.4313 21H5.56873C3.14958 21 1.2841 18.8693 1.60382 16.4713L2.53715 9.47134Z", stroke="#7B88A8", stroke-width="1.5")
        path(d="M14 8V5C14 2.79086 12.2091 1 10 1V1C7.79086 1 6 2.79086 6 5L6 8", stroke="#7B88A8", stroke-width="1.5", stroke-linecap="round")
    button.pointer
      span Demo
      span Icon
    .column
      h3.title this is title
      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod eum obcaecati exercitationem, consequatur, optio fugit similique dolor nostrum vel vitae voluptatum voluptate assumenda veniam quibusdam iste tempora accusantium modi qui?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque, hic ea. Ipsa corporis vel vero alias quisquam, quaerat in possimus debitis, necessitatibus, repellat nesciunt assumenda asperiores id saepe optio fugiat?Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim eum molestiae soluta porro rerum incidunt ad consequatur fugit delectus, id provident nam sequi magnam, perspiciatis dolore quae vel corrupti molestias.
    .boxed
    .text-indent yubakyun
    .box-overflow Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati repellendus velit nisi, porro incidunt omnis? Consectetur nesciunt praesentium asperiores. Sequi numquam laboriosam aliquam facilis tempore dignissimos eius maiores voluptates qui!Sequi rerum numquam ipsum perferendis, doloribus porro mollitia tempora rem, cumque pariatur eveniet? Quam provident modi doloremque mollitia dolorum culpa unde odit nobis doloribus. Nisi rerum laudantium saepe? Quia, dolor?Voluptate, officiis, illum esse voluptatibus molestias repellendus accusamus fuga facere ab obcaecati earum, ea dolorum animi ex doloremque distinctio asperiores dolorem facilis a? Blanditiis dolorem sed incidunt culpa ut voluptas!Quam molestiae saepe ducimus voluptates odio repellendus quis quasi itaque cumque vitae expedita delectus tempora quia, in necessitatibus officia nihil temporibus optio dicta! Aspernatur, ex itaque possimus doloribus ea autem?Aut sint voluptas ipsum neque eveniet voluptate nihil adipisci, autem excepturi quis ex in earum commodi, labore sapiente? Voluptas accusantium necessitatibus commodi quaerat, corporis blanditiis sapiente dolor quisquam aspernatur beatae.Provident quasi numquam id est! Corrupti ea facere libero, laudantium iste quis optio, odit consequatur nisi sapiente quaerat incidunt porro doloribus. Hic, corrupti debitis. Amet facilis quasi qui tempora necessitatibus?Praesentium vitae odio magni libero expedita atque pariatur eaque ad! Magni neque quisquam eum tempora? Doloremque harum expedita error numquam, dolorem illum aspernatur est vero aperiam necessitatibus deleniti ipsa vel?Facere nam consequatur, adipisci tempore reprehenderit ex, dolore voluptatibus debitis saepe, placeat molestiae repellat itaque eum atque eligendi! Ipsa debitis qui blanditiis aspernatur quae iure repellendus iusto temporibus dicta illum.Eaque, quas explicabo eveniet consequatur voluptates consequuntur harum est asperiores cumque quod mollitia fugit iste voluptas nihil ipsam aspernatur rem esse reprehenderit temporibus ratione! Maiores dolores esse saepe ullam est.Magnam quibusdam nam repellendus minus id ea ipsa inventore asperiores illum exercitationem iusto possimus aliquam nulla tenetur quae, dolore, eos veniam cum. Iusto sed soluta beatae omnis doloribus modi maiores!
    .image-ratio-wrapper
      img(src="https://plus.unsplash.com/premium_photo-1675484743423-57da4e8011c2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2864&q=80").image-ratio
    .counter
      //- h3 Heading 1
      //- h3 Heading 2
      //- h3 Heading 3
      //- h3 Heading 4
      h1 HTML/CSS Tutorials
      h2 HTML
      h2 CSS
      h2 Bootstrap
      h2 W3.CSS
      h1 Scripting Tutorials
      h2 JavaScript
      h2 jQuery
      h2 React
      h1 Programming Tutorials
      h2 Python
      h2 Java
      h2 C++