section.study
  .container
    .item-image
      img(src="https://images.unsplash.com/photo-1488866022504-f2584929ca5f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2924&q=80", alt="night")
    .title-clamp My name is Yubakyun
    .card-item-wrapper
      .card-item
        img(src="https://images.unsplash.com/photo-1419242902214-272b3f66ee7a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3013&q=80")
        .card-item-content Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque autem dicta est odio, magnam laudantium corrupti unde qui sit, incidunt impedit corporis ipsam eum hic sapiente ab debitis molestias! Rem!